<div class="bpmn-body-container">
    <div class="button-container">
        <button class="reset-button" title="Reset" (click)="resetZoomLevelOfBpmnDiagram()" type="button">Reset</button>
        <button class="popout-button" title="Pop Out" (click)="showBpmnModalView()" type="button">Pop Out</button>
    </div>
    <div id="bpmn-container" class="bpmn-diagram-container"></div>
</div>

<div id="bpmn-modal-container" class="bpmn-modal-style">
    <span (click)="hideBpmnModalView()" class="bpmn-close">&times;</span>
    <div id="bpmn-modal-content-container" class="bpmn-modal-content-style"></div>
</div>